In [1]:
# CALLABLE可調式參數
import pandas as pd
import numpy as np
df1 = pd.DataFrame(np.random.randn(6, 4),
    index=list('abcdef'), columns=list('ABCD'))

In [2]:
df1

          A         B         C         D
a  0.570305 -2.180701 -0.309473  0.194421
b  0.581811  1.352370  0.257150 -0.599745
c  1.107266 -1.477827 -0.079465 -0.736682
d -0.259945  0.779113  0.409916  0.457423
e  0.667614 -0.475267  1.239528  0.139248
f  0.019070  1.840485 -1.070524  0.779744

In [3]:
df1.loc[lambda df: df.A > 0,  :]

          A         B         C         D
a  0.570305 -2.180701 -0.309473  0.194421
b  0.581811  1.352370  0.257150 -0.599745
c  1.107266 -1.477827 -0.079465 -0.736682
e  0.667614 -0.475267  1.239528  0.139248
f  0.019070  1.840485 -1.070524  0.779744

In [5]:
df1.loc[ : , lambda df: ['A', 'B']]   # 列全部顯示 ; 顯示'A'欄和'B'欄

          A         B
a  0.570305 -2.180701
b  0.581811  1.352370
c  1.107266 -1.477827
d -0.259945  0.779113
e  0.667614 -0.475267
f  0.019070  1.840485

In [6]:
df1.iloc[ : , lambda df: [0, 1]]    # 列全部顯示 ; 顯示第 0 欄和第 1欄

          A         B
a  0.570305 -2.180701
b  0.581811  1.352370
c  1.107266 -1.477827
d -0.259945  0.779113
e  0.667614 -0.475267
f  0.019070  1.840485